html,body{
	background-color: #efefef;
}
.look-detail-container video{
	width: 100%;
	height: auto;
}

.look-item-base-info{
	background-color: #fff;
}

.look-item-info{
	padding: 0.6rem 1.2rem;
	border-bottom: 0.1rem solid #ddd;
}
.look-item-tip{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 0.2rem;
}
.look-item-name{
	font-size: 1.7rem;
	color: #333;
}
.look-item-tip {
	font-size: 1.3rem;
	color: #777;
}
.view-count{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-start;
	align-items: center;
}
.look-item-tip .icon-eye-open{
	color: #999;
    font-size: 1.7rem;
    margin-right: 0.5rem;
}
.publish-user-base-info{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1.2rem;
	border-bottom: 0.1rem solid #eee;
}
.publish-user-base-info .user-face{
	width: 14%;
}
.publish-user-base-info .user-face img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.user-info{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 0.5rem;
}
.user-info .user-name{
	font-size: 1.5rem;
	color: #333;
}
.user-info .store-name{
	font-size: 1.3rem;
	color: #777;
	margin-top: 0.2rem;
}
.liao-liao-opt .liao-liao-text{
	font-size: 1.3rem;
	color: #4395F7;
	padding: 0.4rem 2rem;
	border:0.1rem solid #4395F7;
	border-radius: 0.3rem;
	margin-left: 0.2rem;
	
}
.liao-liao-text span:first-child{
	font-size: 1.6rem;
}

.publish-content-info{
	padding: 1rem 1.2rem;
}
.publish-content{
	margin-bottom: 1.8rem;
	font-size: 1.4rem;
	color: #777;
}
.icon-yunbi{
   width: 1.5rem;
   height: 1.5rem;
   fill: currentColor;
   margin-right: 0.4rem;
}
.yuan-dian{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	background-color: #ccc;
}
.publish-content-tip,.tip-item,.tip-items{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-start;
	align-items: center;
}
.publish-content-tip{
	padding: 1.5rem 0;
}
.publish-content-tip .shang,.publish-content-tip .view-count,
.publish-content-tip .zan-count,.look-detail-opt-nar .view-count,
.look-detail-opt-nar .zan-count,.look-detail-opt-nar .shang
{
	font-size: 1.4rem;
	color: #9b9b9b;
	margin-left: 0.4rem;
}
.tip-item .iconfont{
	font-size: 1.4rem;
	color: #ccc;
}
.tip-items{
	justify-content: space-between;
}
.tip-item{
	justify-content: center;
}
.publish-time{
	font-size: 1.3rem;
	color: #777;
}
.tip-item .icon-dianzan{
	font-size: 1.6rem;
}
.other-users-container{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 1rem;
}
.other-users-container .user-face,
.other-users-container .more-user{
	width: 13%;
}
.more-user .icon-gengduo1{
   width: 4.2rem;
   height: 4.2rem;
   fill: currentColor;
}
.recommend-goods-container{
	margin-top: 0.8rem;
	background-color: #fff;
}
.recommend-tip-title,.comments-tip-title{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 1.2rem;
}
.recommend-tip-title .icon-rexiao{
	background-color: #ff5959;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.2rem;
    margin-right: 0.5rem;
}
.recommend-tip-title,.comments-tip-title{
	color: #333;
	font-size: 1.4rem;
}
.goods-list-container{
	padding: 0.5rem 0 0.5rem 1.2rem;
}
.goods-item{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 24%;
}
.goods-pic{
	border:0.1rem solid #ddd;
	padding: 0.7rem 0.9rem;
}
.goods-name{
	margin-top: 0.4rem;
	color: #333;
	font-size: 1.3rem;
}
.goods-price{
	margin-top: 0.2rem;
	color: #FF5959;
	font-size: 1.3rem;
}
.user-comments-container{
	margin-top: 0.8rem;
	background-color: #fff;
	margin-bottom: 5rem;
}
.comments-tip-title .icon-pinlun{
	height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.5rem;
}
.publish-comments{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.2rem;
}
.input-comment input{
	display: table-cell;
	float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
	border-radius: 0.6rem;
    background-color: #f0f0f0;
    background-image: none;
    border: 0.1rem solid #f0f0f0;
    color: #999;
    font-size: 1.4rem;
    line-height: 1.42857;
    padding: 0.6rem 1.2rem;
}
.publish-comments .icon-morentouxiang{
	background-color: #e3f0ff;
    border-radius: 50%;
    color: #fff;
    font-size: 2.5rem;
    padding: 0 0.5rem;
}
.publish-comments .icon-emot{
	color: #bbb;
    font-size: 2.8rem;
}
.comment-content-container{
	padding: 0 1.2rem 1rem;
	border-bottom: 0.1rem solid #ccc;
}
.comment-item,.comment-other-info,.publish-other-tip,.publish-time-jinbi,
.publish-other-tip,.jinbi-info,.comment-tip-info,.reply-count{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: center;
}
.comment-other-info{
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem 0 0 0.5rem;
}
.user-comment-face{
	width: 14%;
}
.user-comment-face img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.comment-other-info .user-name{
	font-size: 1.4rem;
	color: #333;
}
.comment-other-info .comment-cont{
	font-size: 1.4rem;
	color: #777;
	margin: 0.7rem 0 0.5rem;
}
.comment-tip-info .time-text{
	font-size: 1.3rem;
	color: #999;
}
.yunbi-count,.count{
	font-size: 1.3rem;
	color: #9b9b9b;
}
.dianzan-count .iconfont{
	font-size: 1.6rem;
	color: #ccc;
}
.publish-time-jinbi{
	justify-content: space-between;
}
.publish-other-tip{
	justify-content: space-around;
}
.comment-item{
	align-items: flex-start;
	margin-top: 1.8rem;
}
.reply-count .icon-comment{
	font-size: 1.7rem;
    margin-right: 0.4rem;
    margin-top: 0.1rem;
    color: #ccc;
}
.reply-list-container{
	margin-top: 0.8rem;
	background-color: #F8F8F8;
	padding: 0 1.2rem 0.8rem;
	border-radius: 0.2rem;
}
.reply-main-info{
	font-size: 1.4rem;
}
.reply-user-name{
	color: #333;
}
.user-reply-cont{
	color: #777;
}
.user-reply-time{
	font-size: 1.3rem;
	color: #999;
}
.view-other-replys{
	margin-top: 0.8rem;
	font-size: 1.2rem;
	color: #4395F7;
}
.reply-other-info{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.8rem;
}
.reply-item{
	margin-top: 1rem;
}
.reply-icon{
	position: absolute;
	top: 0.4rem;
	left:1rem;
	background-color: #F8F8F8;
	width: 1rem;
	height: 1rem;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg); 
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.view-all-reply{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: center;
	color: #4395F7;
	font-size: 1.4rem;
	padding: 1.2rem 0;
}
.dianzan-count .already-zan,.collect-thing .already-collect,
.dian-zan-thing .already-zan{
	color: #ff5959;
}

.look-detail-opt-nar{
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
	display: -ms-flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    z-index: 1030;
    border-top: 0.1rem solid #ddd;
	background-color: #fff;
}
.liao-liao-btn{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: center;
	background-color: #4395F7;
	color: #fff;
	border-top: 0.1rem solid #4395F7;
}
.icon-guangguan{
	font-size: 1.7rem;
}

.look-detail-opt-nar .tip-items,.look-detail-opt-nar .liao-liao-btn{
	padding: 1.2rem 0;
}
.look-detail-opt-nar .tip-items{
	font-size: 1.4rem;
}
.goods-item:active{
	background-color: #fafafa;
}
.give-reward-container,.plus-liao-liao-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 1031;
	
}
.give-reward-content,.plus-liao-liao-content{
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: center;
}

.input-group .form-control, .input-group-btn {
    display: table-cell;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

.input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.form-control{
    background-color: #fff;
    background-image: none;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    color: #999;
    display: block;
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
}
.input-group-btn {
    font-size: 0;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    padding: 0.8rem 1.2rem;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
    display: none;
    float: left;
    font-size: 1.4rem;
    list-style: outside none none;
    margin: 0;
    padding:0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    width: 100%;
    left: auto;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
.open > .dropdown-menu {
    display: block;
}
.open .input-group-btn{
	border-bottom-right-radius: 0;
}
.open > .form-control{
	border-bottom-left-radius: 0;
}

.input-group-btn .icon-sanjiaojiantou{
	font-size: 1rem;
	color: #ccc;
	display: block;
}

.give-reward-content .form-control{
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.dropdown-menu li{
	padding: 0.8rem 1.2rem;
	color: #333;
}
.dropdown-menu li:not(:last-child){
	border-bottom: 0.1rem solid #ccc;
}
.dropdown-menu li:hover,.dropdown-menu li:focus,.dropdown-menu li:active{
	background-color: #4395F7;
	color: #fff;
}
.input-group-btn .open{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg); 	
}
.yunbi-opt-container{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}
.yunbi-opt-container .iconfont{
	color: #bbb;
	font-size: 2.2rem;
}
.yunbi-opt-container .form-control{
	border-left: none;
	border-top: none;
	border-bottom: 0.1rem solid #ddd;
	border-radius: 0;
	margin: 0 2.9rem;
	color: #333;
	font-size: 2.4rem;
}
.give-shang span{
	font-size: 1.5rem;
	color: #fff;
	background-color: #4395F7;
	padding: 1rem 0;
	border-radius: 5rem;
	margin-top: 1rem;
}
.yunbi-tip-count{
	font-size: 1.2rem;
	color: #999;
	margin: 1rem 2rem;
}
.liao-liao-btn .liao-liao-text{
	font-size: 1.4rem;
	 margin-left: 0.4rem;
}
.liao-liao-user-info{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.liao-liao-user-info .user-face img{
	border-radius: 50%;
}
.liao-liao-user-info .user-name{
	color: #333;
	font-size: 1.7rem;
	margin-top: 0.6rem;
}
.yunbi-tip-text{
	font-size: 1.4rem;
	color: #999;
	margin-top: 1rem;
	line-height: 1.7;
}
.liao-liao-user-info .icon-yunbi{
	margin-right: 0;
	margin-bottom: -0.2rem;
}
