html,body{
	background-color: #efefef;
}
.break-line-bar{
	background-color: #efefef;
	padding: 0.4rem 0;
}
.collect-list-nav-bar{
	position: fixed;
    left:0;
    top: 0;
    z-index: 1030;
}
.collect-nav-bar{
	background-color: #fff;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
    align-items: flex-end; 
}
.collect-nav-bar span{
	color: #999;
    font-size: 1.4rem;
    margin: 0 2%;
    padding: 1.2rem 0;
    width: 26%;
}
.collect-nav-bar .active{
	color: #4395f7;
	border-bottom: 0.1rem solid #4395f7;
}
.collect-goods-content{
	margin-top: 5.3rem;
	background-color: #fff;
}
.collect-goods-item{
	border-bottom:0.1rem solid #ddd;
	padding:1.5rem 1rem;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-around;
    align-items: center;
}
.collect-goods-item .goods-pic{
	border: 0.1rem solid #ddd;
    padding: 0.5rem 0.9rem;
    width: 20%;
}
.goods-pic img{
	border-radius: 0.3rem;
}
.collect-goods-item .goods-name{
	font-size: 1.6rem;
    margin-left: 1rem;
    color: #333;
}
.collect-goods-item .edit-icon{
	 margin-right: 3%;
}
.goods-edit-opt-nar{
	position: fixed;
	bottom:0;
	left: 0;
	padding: 1.2rem 0;
	background-color: #ff5959;
	color: #fff;	
	font-size: 1.5rem;
}