.exchange-coupons-item{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content:center;
	align-items:center;
	background-color: #fff;
	border: 0.1rem solid #fff;
    left: 1.2rem;
    position: absolute;
    top: 1.5rem;
    width: 94%;
    border-radius: 0.2rem;
}
.amount-right-top-icon,.amount-right-bottom-icon{
	width: 2rem;
	height: 2rem;
	position: absolute;
	border-radius: 50%;
	background-color: #efefef;
}
.amount-right-top-icon{
    right: -1rem;
    top: -1rem;
}
.amount-right-bottom-icon{
	right: -1rem;
    bottom: -1rem;
}
.exchange-coupons-detail-container .voucher-amount{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	padding:2.4rem 0;
	border-right: 0.1rem dashed #ddd;
}
.exchange-coupons-detail-container .voucher-use-condition{
	align-items: flex-start;
    display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 0 1.2rem 3rem;
}
.voucher-amount-attr{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content:center;
	align-items:baseline;
}
.voucher-amount-attr span{
	font-size: 1.2rem;
	color: #FF5959;
}
.voucher-amount .yuan{
	font-size: 1.5rem;
}
.voucher-amount .amount-text{
	font-size: 4.1rem;
}
.full-amount-tip{
	color: #333;
	font-size: 1.3rem;
}
.used-store-name,.use-endline{
	font-size: 1.3rem;
	color: #777;
	margin-top: 0.4rem;
}
.exchange-count-text{
	border:0.1rem solid #FF5959;
	padding: 0.4rem 1rem;
	color: #FF5959;
	border-radius: 0.3rem;
	font-size: 1.4rem;
}
.cloud-currency-amount{
	padding: 1rem 1.2rem;
	color: #FF5959;
	font-size: 4.1rem;
	border: 0.1rem solid #ddd;
}
.cloud-currency-amount span{
	font-size: 2.1rem;
	margin-left: 0.5rem;
}
.coupons-attr-tip-container{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content:flex-start;
	align-items:center;
	font-size: 1.5rem;
	color: #333;
	padding: 1.5rem 1.2rem;
}
.coupons-attr-tip-icon{
	background-color: #4395f7;
    height: 1.8rem;
    margin-right: 0.6rem;
    width: 0.35rem;
}
.coupons-attr-content-container{
	font-size: 1.4rem;
	color: #777;
	padding: 0 1.2rem;
}
.coupons-attr{
	padding: 0.4rem 0;
}
.exchange-opt-nar{
	background-color: #4395f7;
    bottom: 0;
    color: #fff;
    font-size: 1.6rem;
    left: 0;
    padding: 1.3rem 0;
    position: fixed;
}
.exchange-coupons-share-wx{
	position: absolute;
	bottom:0;
	left: 0;
	z-index: 1031;
}
.share-items{
	background-color:#f6f6f6;
	padding: 2rem 5rem;
}
.cancel-share{
	background-color:#f0f0f0;
}
.top-icon{
   width: 6rem;
   height: 6rem;
   fill: currentColor;
   overflow: hidden;
}
.share-friend,.share-friend-circle{
	background-color: #fff;
	border-radius: 1.5rem;
	padding: 1rem 1.4rem;
}
.share-friend-circle{
	padding: 1rem;
}
.share-item,.share-items{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content:space-around;
	align-items:center;
}
.share-item{
	flex-direction: column;
}
.icon-weixin1{
	color: #47d13d;
	font-size: 4.5rem;
}
.share-type-name{
	color: #333;
	margin-top: 0.8rem;
	font-size: 1.5rem;
}
.cancel-share{
	color: #333;
	font-size: 1.7rem;
	padding: 1.5rem;
}
