html,body{
	background-color: #efefef;
}
.thumb-up-notes-content{
	margin-top: 1rem;
	background-color: #fff;
	padding: 1rem 2%;
}
.thumb-up-notes-container img,
.thumb-up-notes-content video{
	width: 100%;
	height: auto;
}
.note-item{
	border:0.1rem solid #ddd;
	margin:0 3.2% 1.2rem;
	width: 95%;
}
.note-item .note-title{
	padding:0.9rem 0.8rem 0.4rem;
	color: #333;
	font-size: 1.3rem;
}
.note-item .note-intro-text{
	padding:0.2rem 0.8rem 0.4rem;
	color: #777;
	font-size: 1.3rem;
}
.note-item .collect-time{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-start;
    align-items: flex-end; 
	padding:0.4rem 0.8rem 0.9rem;
	color: #777;
	font-size: 1.2rem;
}
.collect-time .icon-shijian{
	font-size: 1.4rem;
}
.collect-time .collect-time-text{
	margin-left: 0.6rem;
}
.note-item .video-icon{
	background-color: #70cf95;
    color: #fff;
    left: 0;
    padding: 0.15rem 0.4rem;
    position: absolute;
    top: 0;
    border-bottom-right-radius: 0.3rem;
}
.note-item:active{
	background-color:#fafafa ;
}